.back{
    max-width: fit-content;
    max-height: fit-content;
    
}

img{
    height: 100%;
    width:100%;
}



.navbar{
    color: white;
    height: 80px;
}

.navlogo{
    height: 80px;
    width: 80px;
}

.navbarbrand{
    float: left;
}

.navmenu{
  color:black;
  font: arial;
  float: right; 
}

/* ------------ Efecto de servicios ------------*/
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.services{
    animation: 1s ease-out 0s 1 slideInFromLeft;
  
  background: white;
  padding: 30px;
}
/* ------------ Efecto de servicios ------------*/
/* ----------- Efecto de texto sobre imagen --------- */

@keyframes onimageleft{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(-50%);
  }

}

.onimage {
  animation: 1s ease-out 0s 1 onimageleft;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  }

  /* ----------- Efecto de texto sobre imagen --------- */

.footers-icon{
max-width: 30px;
max-height: 30px;

}

.text-footer{
   font-family: Arial, Helvetica, sans-serif;
    }

.footer-logo{
max-width: 200px;
max-height: 200px;
         }